@import "tailwindcss";

body {
  @apply bg-slate-900 text-slate-100;
}
button {
  @apply bg-indigo-600 hover:bg-indigo-500 text-white px-3 py-1 rounded;
}
input {
  @apply px-2 py-1 rounded bg-slate-800 border border-slate-700 text-slate-100;
}
